body {
    background-color: #FFFFFF;
}

h2 {
    color: #128CBF;
    text-align: center;
    font-family: Arial;
}

.Results {
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
}

.OutterContainer {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.CurrencyContainer {
    width: 525px;
    background-color: #E6E3E3;
    text-align: center;
    font-size: 13px;
    font-family: Verdana;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #666666;

}

.ImageBorder {
    border: 1px solid #666666;
}

.Buttons {
 background-color: #71BBDA;
 color: #FFFFFF;
}

